your_projects/Youcefi_bankManagement/WebServer.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. -->
<definitions targetNamespace="http://DBConnect/" name="WebServer" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://DBConnect/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://DBConnect/" schemaLocation="WebServer_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="update">
    <part name="parameters" element="tns:update"/>
  </message>
  <message name="updateResponse">
    <part name="parameters" element="tns:updateResponse"/>
  </message>
  <message name="delete">
    <part name="parameters" element="tns:delete"/>
  </message>
  <message name="deleteResponse">
    <part name="parameters" element="tns:deleteResponse"/>
  </message>
  <message name="insert">
    <part name="parameters" element="tns:insert"/>
  </message>
  <message name="insertResponse">
    <part name="parameters" element="tns:insertResponse"/>
  </message>
  <portType name="WebServer">
    <operation name="update">
      <input wsam:Action="http://DBConnect/WebServer/updateRequest" message="tns:update"/>
      <output wsam:Action="http://DBConnect/WebServer/updateResponse" message="tns:updateResponse"/>
    </operation>
    <operation name="delete">
      <input wsam:Action="http://DBConnect/WebServer/deleteRequest" message="tns:delete"/>
      <output wsam:Action="http://DBConnect/WebServer/deleteResponse" message="tns:deleteResponse"/>
    </operation>
    <operation name="insert">
      <input wsam:Action="http://DBConnect/WebServer/insertRequest" message="tns:insert"/>
      <output wsam:Action="http://DBConnect/WebServer/insertResponse" message="tns:insertResponse"/>
    </operation>
  </portType>
  <binding name="WebServerPortBinding" type="tns:WebServer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="update">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="delete">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="insert">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="WebServer">
    <port name="WebServerPort" binding="tns:WebServerPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

